body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #948e99; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2e1437, #948e99); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2e1437,
    #948e99
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.title {
  text-align: center;
  font-weight: 900;
  font-size: xx-large;
  background: #ff0099; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #493240, #ff0099); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #493240,
    #ff0099
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  margin-bottom: 120px;
}

.container {
  width: 700px;
  height: 700px;
  margin: 50px auto;
  border-radius: 20px;
  margin-top: 150px;
}

input {
  display: block;
  padding: 10px;
  border-radius: 5px;
  margin: 10px auto;
}

.button-container {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  margin-bottom: 50px;
}

.btn {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 auto 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
  background: #ff0099; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #493240, #ff0099); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #493240,
    #ff0099
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn:hover {
  text-decoration: none;
}

.btn-2 {
  letter-spacing: 0;
}

.btn-2:hover,
.btn-2:active {
  letter-spacing: 5px;
  border-style: none;
}

.btn-2:after,
.btn-2:before {
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: ' ';
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 70%;
  border-style: none;
}

.btn-2:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
  border-style: none;
}
.btn:focus {
  border-style: none;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 200px;
  text-align: start;
}

h4 {
  color: white;
  width: 240px;
}
